body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #60c8ff;
    background-color: #fbfcfd;
    margin: 0;
}

#container
{
    width: 60%;
    margin: 0 auto;
}

h1
{
    text-align: center;
}

.Left
{
    float: left;
}

.Right
{
    float: right;
}

.Clear
{
    clear: both;
}

#selectionContainer, #resultContainer
{
    width: 48%;
}

.PaintContainer
{
    margin: 20px 1%;
    width: 100%;
}

.InputContainer
{
    width: 75%;
}

.DisplayContainer
{
    width: 24%;
}

#resultContainer
{
    margin-left: 2%;
}

.Dropdown
{
    width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
}

.PaintDisplay, .ResultDisplay
{
    border: 1px solid #CCC;
    border-radius: 100px 100px;
    background-color:#FFF;
}

.PaintDisplay
{    
    height: 75px;
    width: 75px;
    margin-left: 20px;
}

.ResultDisplay
{
    margin-top:25px;
    height: 150px;
    width: 150px;
}

#mixButton 
{
    background-color: #00466b;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 82px;
    cursor: pointer;
}

.ui-selectmenu-button, .ui-spinner
{
    width: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#recipe
{
    margin-top: 20%;
}

@media screen and (max-width: 1080px)
{
    #container
    {
        width: 100%;
    }

    #selectionContainer, #resultContainer
    {
        float:none;
        width: 100%;
        margin:0;
    }

    .PaintContainer
    {
        display: block;
        margin: 20px 1%;
        width: 98%;
    }

    .InputContainer
    {
        width: 75%;
    }

    .DisplayContainer
    {
        width: 24%;
    }

    .PaintDisplay
    {
        margin-left: 5px;
    }

    .ui-selectmenu-button, .ui-spinner
    {
        width: 100%;
        display:block;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
    }

    #mixButton
    {
        width: 50%;
        text-align:center;
    }

    .ResultDisplay
    {
        margin-left: 100px;
    }

    #recipe
    {
        margin-top: 10px;
        margin-right: 100px;
    }
}