body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #60c8ff;
    background-color: #fbfcfd;
}

#container
{
    width: 50%;
    margin: 0 auto;
}

h1
{
    text-align: center;
}

.Left
{
    float: left;
}

.Right
{
    float: right;
}

.PaintContainer
{
    margin: 20px 1%;
    width: 100%;
}

.ResultContainer
{
    margin: 0 auto;
    width: 50%;
}

.Dropdown
{
    width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
}

.PaintDisplay, .ResultDisplay
{
    border: 1px solid #CCC;
    border-radius: 100px 100px;
    background-color:#FFF;
}

.PaintDisplay
{    
    height: 75px;
    width: 75px;
    margin-left: 20px;
}

.ResultDisplay
{
    margin-top:25px;
    height: 150px;
    width: 150px;
}

.Clear
{
    clear: both;
}


#mixButton 
{
    background-color: #00466b;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 82px;
    cursor: pointer;
}

.ui-selectmenu-button, .ui-spinner
{
    width: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

@media screen and (max-width: 1080px)
{  
    .PaintContainer
    {
        display: block;
        margin: 0 1%;
        width: 98%;
    }

    .ui-selectmenu-button, .ui-spinner
    {
        width: 200px;
        display:block;
        margin-bottom: 5px;
    }

    #mixButton
    {
        width: 50%;
        text-align:center;
    }
}