@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <br/>
    <h1>Colour Mixer</h1>

    <div class="PaintContainer">
        <div class="InputContainer">
            <select id="paintOneValue" class="Dropdown"></select>
            <input id="paintOneParts" class="Spinner" placeholder="How many parts?" />
        </div>
        <div id="paintOne" class="PaintDisplay"></div>
    </div>
    <div class="PaintContainer">
        <div class="InputContainer">
            <select id="paintTwoValue" class="Dropdown"></select>
            <input id="paintTwoParts" class="Spinner" placeholder="How many parts?" />
        </div>
        <div id="paintTwo" class="PaintDisplay"></div>
    </div>
    <div class="PaintContainer">
        <div class="InputContainer">
            <select id="paintThreeValue" class="Dropdown"></select>
            <input id="paintThreeParts" class="Spinner" placeholder="How many parts?" />
        </div>
        <div id="paintThree" class="PaintDisplay"></div>
    </div>
</div>

    <div id="mixButton">Mix Colours</div>

    <div class="ResultContainer">
        <div id="recipe"></div>
        <div id="paintResult" class="ResultDisplay"></div>
    </div>
</div>