@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <br />
    <h1>Colour Mixer</h1>

    <div id="selectionContainer" class="Left">
        <div class="PaintContainer">
            <div class="Left InputContainer">
                <select id="paintOneValue" class="Dropdown"></select>
                <input id="paintOneParts" class="Spinner" placeholder="How many parts?" />
            </div>
            <div id="paintOne" class="Right PaintDisplay"></div>
            <div class="Clear"></div>
        </div>
        <div class="PaintContainer">
            <div class="Left InputContainer">
                <select id="paintTwoValue" class="Dropdown"></select>
                <input id="paintTwoParts" class="Spinner" placeholder="How many parts?" />
            </div>
            <div id="paintTwo" class="Right PaintDisplay"></div>
            <div class="Clear"></div>
        </div>
        <div class="PaintContainer">
            <div class="Left InputContainer">
                <select id="paintThreeValue" class="Dropdown"></select>
                <input id="paintThreeParts" class="Spinner" placeholder="How many parts?" />
            </div>
            <div id="paintThree" class="Right PaintDisplay"></div>
            <div class="Clear"></div>
        </div>
    </div>

    <div id="resultContainer" class="Right">
        <div id="mixButton">Mix Colours</div>
        <div id="paintResult" class="Left ResultDisplay"></div>
        <div id="recipe" class="Right"></div>
    </div>
    <div class="Clear"></div>
</div>