@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Styles/colourMixer.css" />

<h2>Index</h2>


<div id="container">
    <div class="paintContainer">
        <select id="paintOneDropdown"></select>
        <div id="paintOne" class="paintDisplay"></div>
    </div>
    <div class="paintContainer">
        <select id="paintTwoDropdown"></select>
        <div id="paintTwo" class="paintDisplay"></div>
    </div>
    <div class="paintContainer">
        <select id="paintThreeDropdown"></select>
        <div id="paintThree" class="paintDisplay"></div>
    </div>
</div>