@{
    ViewBag.Title = "Colour Mixer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <br />
    <h1>Colour Mixer</h1>
    <div class="Left">
        <p>This colour mixer has been designed to mix colours to find new ones!</p>
    </div>
    <div class="Left">
        <select id="paintTypes"></select>
    </div>
    <div class="Clear"></div>
    <div id="selectionContainer" class="Left">
        <div class="Container">
            <div class="Left InputContainer">
                <select id="paintOneValue" class="PaintDropdown"></select>
                <input id="paintOneParts" class="Spinner" placeholder="How many parts?" />
            </div>
            <div class="Right DisplayContainer">
                <div id="paintOne" class="PaintDisplay"></div>
            </div>
            <div class="Clear"></div>
        </div>
        <div class="Container">
            <div class="Left InputContainer">
                <select id="paintTwoValue" class="PaintDropdown"></select>
                <input id="paintTwoParts" class="Spinner" placeholder="How many parts?" />
            </div>
            <div class="Right DisplayContainer">
                <div id="paintTwo" class="PaintDisplay"></div>
            </div>
            <div class="Clear"></div>
        </div>
        <div class="Container">
            <div class="Left InputContainer">
                <select id="paintThreeValue" class="PaintDropdown"></select>
                <input id="paintThreeParts" class="Spinner" placeholder="How many parts?" />
            </div>
            <div class="Right DisplayContainer">
                <div id="paintThree" class="PaintDisplay"></div>
            </div>
            <div class="Clear"></div>
        </div>
        <div class="Container">
            <div class="Left InputContainer">
                <select id="paintFourValue" class="PaintDropdown"></select>
                <input id="paintFourParts" class="Spinner" placeholder="How many parts?" />
            </div>
            <div class="Right DisplayContainer">
                <div id="paintFour" class="PaintDisplay"></div>
            </div>
            <div class="Clear"></div>
        </div>
    </div>

    <div id="resultContainer" class="Right">
        <div class="Container">
            <div id="paintResult" class="Left"></div>
            <div id="recipe" class="Right"></div>
            <div class="Clear"></div>
        </div>
        <div id="buttonContainer" class="Container">
            <div id="mixButton" class="Button Left">Mix Colours</div>
            <div id="resetButton" class="Button Right">Reset</div>
            <div class="Clear"></div>
        </div>
    </div>
    <div class="Clear"></div>
</div>