@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <br/>
    <h1>Colour Mixer</h1>
    <br />

    <div class="PaintContainer">
        <select id="paintOneValue" class="Dropdown"></select>
        <div id="paintOne" class="PaintDisplay"></div>
    </div>
    <div class="PaintContainer">
        <select id="paintTwoValue" class="Dropdown"></select>
        <div id="paintTwo" class="PaintDisplay"></div>
    </div>
    <div class="PaintContainer">
        <select id="paintThreeValue" class="Dropdown"></select>
        <div id="paintThree" class="PaintDisplay"></div>
    </div>


    <div class="ResultContainer">
        <div id="recipe"></div>
        <div id="paintResult" class="ResultDisplay"></div>
    </div>
</div>