@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">

    <h1>Colour Mixer</h1>

    <div class="paintContainer">
        <select id="paintOne" class="Dropdown"></select>
        <div id="paintOne" class="PaintDisplay"></div>
    </div>
    <div class="paintContainer">
        <select id="paintTwo" class="Dropdown"></select>
        <div id="paintTwo" class="PaintDisplay"></div>
    </div>
    <div class="paintContainer">
        <select id="paintThree" class="Dropdown"></select>
        <div id="paintThree" class="PaintDisplay"></div>
    </div>
</div>