/*
* colour-mixer.less
* Copyright 2014 Daniel Cooper
*/

#mixer {
	border: 1px solid grey;
	border-radius: 5px;
    min-width: 250px;

    .xerel {
		min-width: 100px;
		width:90%;
		margin: 2% 5%;
		border: 1px solid black;
		border-radius: 5px;
    }
	.selectors {
		padding-top: 2%;
		.selector {
			.picker{
				height: 50px;
				border: 1px solid black;
			}
			.parts select {
				text-indent: 50%;
			}
		}
	}
	input, select {
		margin: 0;
		padding: 0;
		height: 30px;
		display: block;
		background: white;
	}
	.mixOutput {
		height: 50px;
	}
	.clear {
		clear: both;
		content: '';
	}
}