    /*
* colour-mixer.less
* Copyright 2014 Daniel Cooper
*/

#mixer {
	border: 1px solid #CCC;
	color: #000;
	border-radius: 5px;
    min-width: 250px;
    max-width: 400px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
	box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);

    .xerel {
		min-width: 100px;
		width:90%;
		margin: 2% 5%;
		border: 1px solid #CCC;
		border-radius: 5px;
	}
	.selectors {
		padding-top: 2%;
		.selector {
			.picker{
				height: 50px;
				border: 1px solid #CCC;
				-webkit-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
				-moz-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
				box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
				text-align: center;
				cursor: pointer;
			}
			.parts select {
				text-indent: 50%;
			}
		}
	}
	input, select {
		margin: 2% 5%;
		padding: 0;
		min-width: 100px;
		width:90%;
		height: 30px;
		display: block;
	}
	input[type="button"] {		
		width:40%;
		float: left;
	}
	.mix-output {
		height: 50px;
	}
	.clear {
		clear: both;
		content: '';
	}
    .hidden {
        display: none;
    }
    .paint-picker {
        position: absolute;
        width: 100%;
        min-width: 250px;
        max-width: 400px;
        background: black;
        height: 90%;
        max-height: 600px;
        ul.colour-list{
			height : 250px;
			overflow-y: scroll;
			li {
				height: 40px;
				list-style: none;
				margin: 5px;
				p {
					display: inline-block;
					margin: 0;
					margin-top: 10px;
					margin-left: 10px;
					float: left;
				}
				div {
					display: inline-block;
					height: 34px;
					width: 34px;
					margin: 3px;
					background: black;
					float: left;
				}
			}
		}
    }


}