/*
* colour-mixer.less
* Copyright 2014 Daniel Cooper
*/
#mixer {
  border: 1px solid grey;
  border-radius: 5px;
}
#mixer .selectors .selector {
  border: 1px solid grey;
  border-radius: 5px;
  display: inline-block;
  width: 100px;
  margin: 10px;
}
#mixer .selectors .selector .picker,
#mixer .selectors .selector .parts {
  width: 50px;
  margin: 5px auto;
}
#mixer .selectors .selector .picker {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}
#mixer .selectors .selector .parts select {
  width: 50px;
  height: 25px;
  text-indent: 25%;
}
