/*
* colour-mixer.less
* Copyright 2014 Daniel Cooper
*/
#mixer {
  border: 1px solid #CCC;
  color: #000;
  border-radius: 5px;
  min-width: 250px;
  max-width: 400px;
  -webkit-box-shadow: 2px 2px 5px 0px #cccccc;
  -moz-box-shadow: 2px 2px 5px 0px #cccccc;
  box-shadow: 2px 2px 5px 0px #cccccc;
}
#mixer .xerel {
  min-width: 100px;
  width: 90%;
  margin: 2% 5%;
  border: 1px solid #CCC;
  border-radius: 5px;
}
#mixer .selectors {
  padding-top: 2%;
}
#mixer .selectors .selector .picker {
  height: 50px;
  border: 1px solid #CCC;
  -webkit-box-shadow: 2px 2px 5px 0px #cccccc;
  -moz-box-shadow: 2px 2px 5px 0px #cccccc;
  box-shadow: 2px 2px 5px 0px #cccccc;
  text-align: center;
}
#mixer .selectors .selector .parts select {
  text-indent: 50%;
}
#mixer input,
#mixer select {
  margin: 2% 5%;
  padding: 0;
  min-width: 100px;
  width: 90%;
  height: 30px;
  display: block;
}
#mixer input[type="button"] {
  width: 40%;
  float: left;
}
#mixer .mixOutput {
  height: 50px;
}
#mixer .clear {
  clear: both;
  content: '';
}
