/*
* colour-mixer.less
* Copyright 2014 Daniel Cooper
*/
#mixer {
  border: 1px solid #CCC;
  color: #000;
  border-radius: 5px;
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  -webkit-box-shadow: 2px 2px 5px 0px #cccccc;
  -moz-box-shadow: 2px 2px 5px 0px #cccccc;
  box-shadow: 2px 2px 5px 0px #cccccc;
}
#mixer .xerel {
  min-width: 100px;
  width: 90%;
  margin: 2% 5%;
  border: 1px solid #CCC;
  border-radius: 5px;
}
#mixer .selectors {
  padding-top: 2%;
}
#mixer .selectors .selector .picker {
  height: 50px;
  border: 1px solid #CCC;
  -webkit-box-shadow: 2px 2px 5px 0px #cccccc;
  -moz-box-shadow: 2px 2px 5px 0px #cccccc;
  box-shadow: 2px 2px 5px 0px #cccccc;
  text-align: center;
  cursor: pointer;
  color: #999;
}
#mixer .selectors .selector .parts select {
  text-indent: 50%;
}
#mixer input,
#mixer select {
  margin: 2% 5%;
  padding: 0;
  min-width: 100px;
  width: 90%;
  height: 30px;
  display: block;
}
#mixer input[type="button"] {
  width: 40%;
  float: left;
}
#mixer .mix-output {
  height: 50px;
}
#mixer .clear {
  clear: both;
  content: '';
}
#mixer .hidden {
  display: none;
}
#mixer div#paint-picker {
  position: absolute;
  width: 100%;
  border: 1px solid #CCC;
  color: #000;
  border-radius: 5px;
  background: #FFF;
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  box-shadow: inherit;
  height: 90%;
  max-height: 350px;
  z-index: 2;
}
#mixer div#paint-picker ul#colour-list {
  height: 250px;
  overflow-y: scroll;
  padding: 0;
}
#mixer div#paint-picker ul#colour-list li {
  height: 40px;
  list-style: none;
  margin: 5px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mixer div#paint-picker ul#colour-list li.selected {
  background: #1E90FF;
}
#mixer div#paint-picker ul#colour-list li p {
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}
#mixer div#paint-picker ul#colour-list li div {
  display: inline-block;
  height: 34px;
  width: 34px;
  margin: 3px;
  background: black;
  float: left;
}
#mixer div#dialog-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  z-index: 1;
}
